/* Global */

body {
    background-image: url(bg.png);
    font-family: cursive;
    color: #094c6d;
}

h1{
    color: #DE2200;
}

/* Containers */

.container {
    background-color: #EDFAFF;
    box-shadow: 10px 10px 36px -15px rgba(0,0,0,1);
    text-align: center;
    border-radius: 3px;
    height: 695px;
    width: 600px;
    padding: 5px 10px;
    margin: 0 auto;
}

#container--input {
    width: 270px;
    margin: 5px auto;
}

#container--labels, #container--forms {
    display: inline-block;
}

#container--labels {
    text-align: right;
    line-height: 1.75em;
}

#container--form {
    float:right;
}

/* Inputs */

input:focus {
    outline-color: #095C75;
}

input {
    line-height: 1.3em;
    margin: 0.205em 0;
    font-family: cursive;
}

input[type=submit] {
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    background-color: #FFD265;
    color: #996800;
    cursor: pointer;    
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

input[type=submit]:hover {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

input[type=submit]:active {   
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}