/* Global */

body {
    background-image: url(bg.png);
    font-family: 'Fontdiner Swanky', cursive;
    color: #094c6d;
}

h1{
    color: #DE2200;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.75);
}

p {
    font-family: sans;
}

/* Containers */

.container {
    background-color: #EDFAFF;
    box-shadow: 10px 10px 36px -15px rgba(0,0,0,1);
    text-align: center;
    border-radius: 3px;
    height: 690px;
    width: 600px;
    margin: 0 auto;
}

#container--input {
    width: 290px;
    margin: 0 auto 5px auto;
    padding: 5px 10px;
}

#container--labels, #container--forms {
    display: inline-block;
}

#container--labels {
    text-align: right;
    line-height: 1.75em;
}

#container--form {
    float:right;
}

/* Inputs */

input:focus {
    outline-color: #095C75;
}

input {
    line-height: 1.3em;
    margin: 0.205em 0;
}

input[type=submit] {
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 1.25em;
    font-weight: bold;
    background-color: #FFD265;
    color: #996800;
    cursor: pointer;    
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

input[type=submit]:hover, input[type=submit]:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}